### 1. Purpose of this notebook

The purpose of this notebook is to do an inital exploratory and cleaning of the data (especially clear the data). We need to ensure that the data is correct and can be used.

In general, the data quality is not bad. Below, some things we found:

- We found two columns that were not in the pdf: 'Z_Revenue','Response'. 
- We found two customer with the marital status strange: "Absurd". We guess that this status is wrong.
- The data of the Z_Revenue was wrong. All the rows containing the same valor: 11. We know that the sucess of the campaign was 15%, not 100%.  So, we create a new column.
- We found three customer with a strange birth year (over one hundred and twenty years old).
- We create a new column containg the age of each customer.
- We change the type of some columns.

### 2. Read data

#### 2.1 Import Python packages

In [116]:
import pandas as pd
import datetime

import src.data_clean as dc
from src.paths import DATA

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### 2.2 Sample data

In [168]:
df = pd.read_csv(DATA / 'ml_project1_data.csv')
df.sample(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
411,10882,1976,Graduation,Married,53858.0,0,1,2012-11-09,50,407,...,4,0,0,0,0,0,0,3,11,0
2233,9432,1977,Graduation,Together,666666.0,1,0,2013-06-02,23,9,...,6,0,0,0,0,0,0,3,11,0
1705,8799,1984,PhD,Married,38175.0,1,0,2013-09-23,6,70,...,7,0,0,0,0,0,0,3,11,0
88,8504,1973,Graduation,Married,79593.0,0,0,2014-05-12,70,350,...,2,0,0,1,0,0,0,3,11,0
775,6825,1953,Graduation,Together,41452.0,1,1,2013-03-06,86,13,...,7,0,0,0,0,0,0,3,11,0

#### 2.3 Dataframe data

In [169]:
#Total rows and columns
df.shape

(2240, 29)

In [170]:
#Column names
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [171]:
df.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

### 2. Cleaning data

#### We see some informations about the columns:
- check for null data
- check for dirty data
- check for duplicate data
- check if the data type is correct

#### ID

In [172]:
dc.look_quality_of_the_column_data(df, 'ID')

Column name: ID
Data type: int64
Null data: 0
Duplicate data: False
Values:
0, 1, 9, 13, 17, 20, 22, 24, 25, 35, 48, 49, 55, 67, 73, 75, 78, 87, 89, 92, 113, 115, 123, 125, 143, 146, 153, 158, 164, 175, 176, 178, 182, 193, 194, 195, 199, 202, 203, 213, 217, 221, 231, 232, 234, 236, 238, 241, 246, 247, 252, 254, 255, 257, 263, 269, 271, 273, 274, 286, 291, 295, 304, 309, 310, 313, 322, 326, 332, 339, 340, 347, 359, 361, 367, 368, 375, 378, 380, 387, 405, 425, 433, 437, 448, 450, 451, 453, 454, 455, 456, 460, 466, 477, 486, 492, 498, 500, 503, 520, 521, 523, 524, 528, 531, 535, 538, 544, 550, 564, 569, 574, 577, 590, 591, 606, 607, 610, 615, 618, 624, 626, 635, 640, 641, 642, 663, 675, 679, 692, 697, 701, 702, 709, 713, 716, 736, 737, 738, 749, 760, 762, 771, 773, 793, 796, 798, 800, 803, 807, 810, 819, 821, 830, 832, 833, 837, 839, 843, 849, 850, 851, 868, 873, 879, 880, 891, 895, 898, 902, 905, 907, 916, 922, 933, 938, 940, 942, 944, 945, 946, 948, 954, 955, 961, 965, 966, 967, 968, 975, 977, 979, 983, 988, 999, 1000, 1008, 1010, 1012, 1016, 1020, 1029, 1030, 1031, 1041, 1044, 1045, 1048, 1050, 1052, 1055, 1064, 1065, 1071, 1072, 1077, 1079, 1081, 1087, 1092, 1100, 1103, 1109, 1118, 1127, 1131, 1135, 1137, 1139, 1142, 1143, 1146, 1150, 1158, 1160, 1162, 1165, 1168, 1170, 1172, 1173, 1175, 1176, 1177, 1183, 1184, 1204, 1212, 1215, 1225, 1232, 1241, 1245, 1250, 1272, 1277, 1291, 1295, 1307, 1321, 1324, 1328, 1331, 1340, 1343, 1349, 1351, 1357, 1361, 1362, 1371, 1377, 1378, 1379, 1381, 1384, 1386, 1388, 1399, 1402, 1403, 1404, 1406, 1407, 1409, 1411, 1419, 1440, 1446, 1448, 1453, 1456, 1458, 1459, 1461, 1463, 1473, 1490, 1491, 1497, 1501, 1502, 1503, 1506, 1509, 1513, 1515, 1517, 1518, 1519, 1523, 1524, 1542, 1544, 1545, 1553, 1570, 1577, 1581, 1584, 1592, 1600, 1604, 1606, 1612, 1618, 1619, 1626, 1627, 1628, 1630, 1631, 1640, 1646, 1650, 1655, 1663, 1665, 1672, 1676, 1685, 1710, 1715, 1717, 1726, 1729, 1734, 1740, 1743, 1744, 1745, 1755, 1763, 1764, 1772, 1773, 1777, 1802, 1818, 1826, 1829, 1833, 1834, 1839, 1857, 1859, 1867, 1876, 1878, 1880, 1890, 1891, 1907, 1911, 1915, 1916, 1920, 1921, 1927, 1928, 1940, 1945, 1951, 1958, 1964, 1966, 1968, 1970, 1987, 1990, 1991, 1992, 1993, 1994, 1998, 2002, 2004, 2005, 2008, 2021, 2036, 2055, 2061, 2066, 2072, 2075, 2079, 2088, 2098, 2106, 2109, 2114, 2115, 2118, 2125, 2130, 2131, 2134, 2139, 2147, 2150, 2154, 2156, 2157, 2162, 2166, 2173, 2174, 2176, 2181, 2186, 2202, 2217, 2223, 2225, 2227, 2230, 2245, 2246, 2253, 2254, 2256, 2258, 2261, 2262, 2276, 2278, 2281, 2285, 2286, 2292, 2295, 2296, 2304, 2308, 2315, 2320, 2324, 2326, 2337, 2345, 2350, 2371, 2375, 2379, 2387, 2392, 2404, 2406, 2407, 2408, 2410, 2415, 2416, 2426, 2428, 2429, 2431, 2437, 2445, 2447, 2452, 2453, 2456, 2457, 2461, 2471, 2478, 2488, 2493, 2495, 2499, 2516, 2518, 2521, 2525, 2532, 2534, 2535, 2541, 2544, 2546, 2549, 2552, 2557, 2561, 2563, 2564, 2565, 2569, 2570, 2574, 2579, 2587, 2589, 2591, 2607, 2611, 2612, 2613, 2620, 2625, 2631, 2632, 2634, 2639, 2656, 2661, 2666, 2669, 2674, 2677, 2678, 2681, 2683, 2686, 2694, 2698, 2711, 2712, 2715, 2724, 2727, 2730, 2736, 2740, 2747, 2781, 2782, 2793, 2795, 2797, 2798, 2802, 2804, 2807, 2811, 2814, 2815, 2826, 2829, 2831, 2836, 2849, 2853, 2861, 2863, 2868, 2870, 2874, 2875, 2877, 2878, 2882, 2886, 2891, 2894, 2895, 2902, 2909, 2918, 2920, 2926, 2928, 2929, 2930, 2931, 2936, 2937, 2939, 2942, 2945, 2948, 2952, 2958, 2961, 2963, 2964, 2968, 2975, 2980, 2986, 2995, 3005, 3006, 3007, 3009, 3010, 3011, 3025, 3032, 3033, 3037, 3050, 3056, 3066, 3068, 3074, 3075, 3076, 3081, 3083, 3091, 3099, 3102, 3104, 3107, 3112, 3117, 3120, 3129, 3130, 3136, 3138, 3139, 3152, 3153, 3158, 3170, 3174, 3179, 3182, 3194, 3197, 3202, 3220, 3225, 3231, 3233, 3254, 3262, 3265, 3266, 3267, 3270, 3276, 3277, 3281, 3283, 3286, 3298, 3308, 3310, 3312, 3321, 3332, 3334, 3336, 3340, 3363, 3376, 3381, 3386, 3388, 3389, 3403, 3406, 3409, 3412, 3421, 3422, 3426, 3427, 3428, 3433, 3434, 3436, 3439, 3445, 3463, 3469, 3478, 3479, 3483, 3491, 3498, 3503, 3507, 3515, 3517, 3518, 3520, 3523, 3524, 3525, 3526, 3535, 3536, 3537, 3547, 3551, 3559, 3560, 3565, 3570, 3571, 3578, 3584, 3594, 3595, 3598, 3599, 3602, 3619, 3623, 3628, 3629, 3635, 3641, 3643, 3645, 3657, 3661, 3665, 3667, 3673, 3678, 3690, 3696, 3697, 3698, 3706, 3710, 3711, 3712, 3717, 3722, 3725, 3726, 3732, 3745, 3749, 3759, 3762, 3766, 3767, 3769, 3783, 3790, 3798, 3799, 3807, 3828, 3829, 3830, 3834, 3839, 3846, 3850, 3852, 3855, 3856, 3859, 3865, 3867, 3870, 3878, 3885, 3887, 3896, 3900, 3910, 3916, 3919, 3921, 3924, 3933, 3934, 3945, 3955, 3967, 3968, 3969, 3972, 3979, 4001, 4002, 4012, 4023, 4037, 4042, 4047, 4050, 4055, 4058, 4065, 4066, 4070, 4073, 4084, 4086, 4088, 4093, 4094, 4095, 4096, 4098, 4099, 4102, 4107, 4114, 4119, 4120, 4122, 4127, 4128, 4136, 4137, 4138, 4141, 4148, 4149, 4168, 4174, 4179, 4184, 4186, 4188, 4198, 4200, 4201, 4207, 4211, 4216, 4220, 4227, 4240, 4246, 4248, 4252, 4259, 4261, 4268, 4271, 4278, 4279, 4286, 4290, 4297, 4298, 4299, 4301, 4303, 4310, 4320, 4322, 4324, 4328, 4329, 4331, 4333, 4338, 4339, 4345, 4351, 4356, 4368, 4369, 4370, 4376, 4377, 4381, 4385, 4390, 4391, 4394, 4399, 4405, 4406, 4415, 4418, 4426, 4427, 4432, 4436, 4437, 4440, 4442, 4444, 4452, 4459, 4470, 4472, 4475, 4477, 4478, 4480, 4483, 4487, 4491, 4500, 4501, 4507, 4508, 4518, 4530, 4541, 4543, 4547, 4548, 4550, 4552, 4554, 4557, 4580, 4587, 4597, 4599, 4603, 4607, 4608, 4609, 4611, 4619, 4637, 4640, 4643, 4646, 4653, 4654, 4656, 4669, 4673, 4676, 4679, 4682, 4686, 4687, 4690, 4692, 4697, 4698, 4702, 4706, 4712, 4713, 4725, 4741, 4743, 4749, 4754, 4756, 4764, 4767, 4769, 4785, 4786, 4789, 4790, 4791, 4796, 4808, 4817, 4827, 4828, 4832, 4837, 4838, 4843, 4855, 4856, 4860, 4864, 4865, 4867, 4877, 4887, 4910, 4915, 4927, 4931, 4937, 4939, 4943, 4944, 4945, 4947, 4954, 4961, 4964, 4967, 4971, 4973, 4974, 4988, 4990, 4992, 4994, 4998, 5010, 5011, 5012, 5015, 5025, 5029, 5031, 5036, 5043, 5046, 5048, 5049, 5057, 5062, 5063, 5067, 5068, 5074, 5077, 5079, 5080, 5081, 5084, 5092, 5093, 5107, 5113, 5114, 5117, 5120, 5121, 5123, 5125, 5136, 5138, 5140, 5147, 5150, 5153, 5154, 5156, 5172, 5176, 5177, 5180, 5181, 5184, 5185, 5186, 5204, 5207, 5209, 5221, 5223, 5229, 5231, 5232, 5234, 5236, 5237, 5247, 5250, 5252, 5253, 5255, 5263, 5267, 5268, 5272, 5278, 5283, 5286, 5287, 5289, 5290, 5294, 5299, 5300, 5302, 5303, 5304, 5313, 5314, 5316, 5320, 5324, 5329, 5331, 5332, 5336, 5341, 5342, 5346, 5350, 5370, 5371, 5376, 5386, 5389, 5393, 5394, 5396, 5407, 5423, 5424, 5429, 5430, 5441, 5453, 5454, 5455, 5462, 5474, 5491, 5493, 5510, 5512, 5513, 5517, 5519, 5524, 5527, 5529, 5534, 5536, 5538, 5543, 5544, 5545, 5547, 5552, 5555, 5558, 5562, 5564, 5577, 5585, 5589, 5596, 5602, 5610, 5621, 5623, 5626, 5628, 5631, 5633, 5636, 5642, 5644, 5654, 5667, 5675, 5680, 5682, 5684, 5687, 5692, 5710, 5718, 5721, 5723, 5726, 5731, 5734, 5735, 5740, 5748, 5751, 5756, 5758, 5763, 5782, 5788, 5790, 5794, 5796, 5798, 5802, 5823, 5824, 5827, 5830, 5831, 5832, 5835, 5837, 5841, 5846, 5847, 5848, 5863, 5866, 5868, 5871, 5872, 5883, 5885, 5892, 5896, 5899, 5907, 5909, 5922, 5929, 5935, 5939, 5948, 5954, 5955, 5956, 5959, 5961, 5966, 5967, 5975, 5985, 5987, 5989, 5991, 5995, 6001, 6019, 6024, 6036, 6049, 6050, 6055, 6059, 6071, 6072, 6086, 6097, 6103, 6116, 6119, 6131, 6141, 6142, 6147, 6168, 6173, 6177, 6181, 6182, 6183, 6184, 6197, 6200, 6201, 6202, 6203, 6205, 6211, 6214, 6215, 6218, 6222, 6230, 6233, 6237, 6245, 6246, 6248, 6250, 6255, 6257, 6260, 6261, 6262, 6263, 6271, 6274, 6281, 6283, 6287, 6289, 6292, 6295, 6299, 6303, 6310, 6312, 6318, 6320, 6327, 6336, 6340, 6343, 6347, 6349, 6354, 6355, 6357, 6365, 6374, 6376, 6379, 6382, 6383, 6384, 6387, 6398, 6404, 6406, 6409, 6417, 6421, 6422, 6424, 6428, 6431, 6437, 6439, 6445, 6457, 6460, 6461, 6466, 6471, 6488, 6497, 6504, 6507, 6515, 6516, 6518, 6521, 6528, 6534, 6543, 6544, 6565, 6566, 6568, 6575, 6583, 6605, 6606, 6609, 6613, 6616, 6619, 6634, 6637, 6642, 6646, 6652, 6653, 6658, 6661, 6663, 6673, 6678, 6679, 6682, 6690, 6694, 6710, 6715, 6720, 6721, 6722, 6728, 6729, 6730, 6742, 6749, 6768, 6770, 6798, 6810, 6815, 6818, 6825, 6853, 6856, 6859, 6862, 6864, 6866, 6870, 6872, 6875, 6878, 6885, 6887, 6892, 6905, 6906, 6912, 6918, 6919, 6927, 6931, 6932, 6935, 6940, 6941, 6945, 6950, 6958, 6961, 6963, 6969, 6974, 6977, 6982, 6983, 6988, 6991, 6999, 7000, 7002, 7004, 7005, 7007, 7010, 7011, 7019, 7022, 7023, 7030, 7034, 7037, 7042, 7053, 7055, 7059, 7072, 7079, 7093, 7094, 7101, 7106, 7108, 7118, 7119, 7124, 7128, 7129, 7141, 7143, 7152, 7165, 7181, 7186, 7187, 7192, 7196, 7212, 7214, 7215, 7224, 7230, 7232, 7233, 7235, 7244, 7247, 7250, 7254, 7261, 7264, 7270, 7274, 7275, 7279, 7281, 7284, 7286, 7290, 7297, 7300, 7301, 7313, 7321, 7325, 7326, 7327, 7342, 7348, 7349, 7352, 7366, 7369, 7373, 7375, 7378, 7381, 7384, 7386, 7393, 7396, 7397, 7408, 7409, 7411, 7414, 7419, 7422, 7426, 7428, 7431, 7433, 7437, 7441, 7444, 7446, 7451, 7453, 7458, 7462, 7476, 7485, 7488, 7494, 7495, 7500, 7503, 7505, 7514, 7516, 7521, 7527, 7530, 7532, 7533, 7540, 7573, 7574, 7592, 7600, 7610, 7613, 7617, 7620, 7627, 7628, 7629, 7631, 7646, 7660, 7679, 7683, 7685, 7698, 7699, 7706, 7712, 7718, 7723, 7725, 7732, 7734, 7736, 7755, 7761, 7786, 7787, 7788, 7789, 7791, 7793, 7798, 7801, 7807, 7822, 7828, 7829, 7832, 7842, 7848, 7849, 7851, 7861, 7872, 7873, 7875, 7881, 7892, 7899, 7901, 7912, 7919, 7922, 7930, 7937, 7938, 7943, 7947, 7959, 7960, 7962, 7966, 7972, 7987, 7990, 7998, 7999, 8008, 8015, 8017, 8026, 8029, 8036, 8041, 8070, 8079, 8080, 8082, 8086, 8091, 8093, 8104, 8132, 8135, 8140, 8143, 8146, 8147, 8148, 8151, 8159, 8162, 8164, 8175, 8180, 8181, 8182, 8204, 8207, 8210, 8212, 8213, 8216, 8230, 8233, 8234, 8235, 8254, 8268, 8275, 8278, 8286, 8299, 8310, 8312, 8314, 8315, 8318, 8334, 8341, 8346, 8360, 8362, 8369, 8370, 8372, 8373, 8375, 8387, 8395, 8397, 8402, 8405, 8414, 8416, 8418, 8420, 8427, 8430, 8432, 8439, 8442, 8443, 8461, 8462, 8475, 8477, 8486, 8492, 8504, 8514, 8523, 8524, 8527, 8534, 8537, 8541, 8545, 8553, 8557, 8560, 8562, 8566, 8581, 8584, 8588, 8594, 8595, 8601, 8602, 8605, 8614, 8619, 8624, 8625, 8629, 8643, 8650, 8652, 8659, 8663, 8685, 8686, 8687, 8690, 8692, 8700, 8702, 8707, 8717, 8720, 8722, 8724, 8726, 8727, 8732, 8737, 8746, 8749, 8754, 8755, 8773, 8775, 8779, 8780, 8783, 8786, 8789, 8799, 8800, 8805, 8812, 8825, 8832, 8842, 8852, 8858, 8867, 8870, 8876, 8890, 8895, 8897, 8908, 8910, 8911, 8916, 8920, 8923, 8925, 8931, 8932, 8933, 8939, 8945, 8952, 8953, 8955, 8957, 8962, 8969, 8970, 8975, 8977, 8985, 8996, 9010, 9014, 9029, 9058, 9064, 9076, 9080, 9081, 9094, 9097, 9119, 9120, 9121, 9135, 9140, 9145, 9150, 9153, 9166, 9167, 9185, 9197, 9204, 9206, 9209, 9212, 9213, 9214, 9215, 9216, 9220, 9224, 9235, 9239, 9240, 9242, 9246, 9256, 9260, 9262, 9264, 9265, 9274, 9283, 9284, 9286, 9289, 9291, 9292, 9298, 9303, 9305, 9308, 9316, 9323, 9336, 9347, 9349, 9353, 9360, 9362, 9365, 9369, 9370, 9381, 9384, 9386, 9392, 9396, 9400, 9405, 9422, 9423, 9426, 9432, 9449, 9451, 9460, 9463, 9467, 9477, 9478, 9481, 9483, 9485, 9491, 9493, 9495, 9499, 9500, 9503, 9504, 9507, 9516, 9523, 9529, 9530, 9543, 9553, 9559, 9560, 9576, 9579, 9589, 9592, 9595, 9596, 9597, 9606, 9612, 9617, 9624, 9635, 9645, 9648, 9653, 9665, 9668, 9671, 9672, 9687, 9697, 9699, 9701, 9703, 9706, 9707, 9710, 9723, 9725, 9727, 9729, 9733, 9736, 9738, 9739, 9743, 9750, 9757, 9760, 9771, 9780, 9790, 9797, 9799, 9805, 9817, 9826, 9829, 9847, 9850, 9855, 9860, 9862, 9888, 9904, 9905, 9907, 9909, 9916, 9923, 9925, 9930, 9931, 9937, 9938, 9940, 9949, 9952, 9955, 9958, 9960, 9964, 9967, 9970, 9971, 9972, 9973, 9974, 9977, 9984, 9986, 9988, 9999, 10001, 10010, 10022, 10031, 10032, 10033, 10037, 10057, 10061, 10065, 10067, 10069, 10084, 10089, 10091, 10092, 10095, 10099, 10102, 10104, 10120, 10127, 10128, 10129, 10133, 10140, 10141, 10142, 10144, 10146, 10150, 10151, 10156, 10157, 10159, 10160, 10163, 10164, 10172, 10175, 10176, 10177, 10196, 10203, 10207, 10212, 10219, 10232, 10236, 10240, 10241, 10242, 10245, 10250, 10258, 10260, 10262, 10264, 10270, 10277, 10281, 10286, 10299, 10304, 10307, 10311, 10313, 10314, 10319, 10323, 10339, 10340, 10341, 10343, 10350, 10352, 10356, 10364, 10377, 10379, 10380, 10381, 10383, 10390, 10394, 10395, 10398, 10401, 10402, 10403, 10413, 10420, 10424, 10430, 10432, 10446, 10448, 10451, 10466, 10469, 10470, 10473, 10475, 10476, 10477, 10478, 10479, 10486, 10489, 10490, 10492, 10500, 10505, 10507, 10509, 10513, 10521, 10524, 10525, 10530, 10536, 10542, 10548, 10552, 10556, 10560, 10562, 10573, 10581, 10582, 10584, 10590, 10591, 10595, 10598, 10602, 10609, 10613, 10617, 10619, 10623, 10629, 10634, 10637, 10640, 10641, 10642, 10643, 10648, 10652, 10659, 10660, 10664, 10669, 10673, 10675, 10676, 10678, 10680, 10681, 10686, 10691, 10699, 10701, 10702, 10703, 10704, 10708, 10710, 10711, 10722, 10727, 10735, 10736, 10738, 10741, 10742, 10749, 10755, 10757, 10766, 10767, 10770, 10779, 10785, 10789, 10790, 10795, 10796, 10812, 10814, 10821, 10826, 10827, 10832, 10833, 10837, 10839, 10841, 10846, 10854, 10855, 10856, 10858, 10862, 10868, 10870, 10872, 10882, 10888, 10897, 10905, 10906, 10909, 10913, 10914, 10925, 10928, 10936, 10949, 10951, 10955, 10965, 10967, 10968, 10971, 10972, 10981, 10983, 10991, 10992, 10995, 11003, 11004, 11007, 11010, 11013, 11025, 11030, 11031, 11039, 11051, 11056, 11071, 11074, 11075, 11084, 11086, 11088, 11091, 11092, 11096, 11100, 11101, 11110, 11112, 11114, 11121, 11133, 11148, 11166, 11171, 11176, 11178, 11181, 11187, 11188, 11191

The correct format is string.  In the rest, everything is OK!

In [173]:
df = (df.assign(ID = df['ID'].astype(str))
     )

#### Year_Birth

In [174]:
dc.look_quality_of_the_column_data(df, 'Year_Birth')

Column name: Year_Birth
Data type: int64
Null data: 0
Duplicate data: True
Values:
1893, 1899, 1900, 1940, 1941, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996

There is something strange. There are 3 constumers with birth year less than or equal to 1900. We can't consider these 3 constumers when analyzing the year of birth.

#### Education

In [175]:
dc.look_quality_of_the_column_data(df, 'Education')

Column name: Education
Data type: object
Null data: 0
Duplicate data: True
Values:
2n Cycle, Basic, Graduation, Master, PhD

Everything is OK!

#### Marital_Status

In [176]:
dc.look_quality_of_the_column_data(df, 'Marital_Status')

Column name: Marital_Status
Data type: object
Null data: 0
Duplicate data: True
Values:
Absurd, Alone, Divorced, Married, Single, Together, Widow, YOLO

There is a marital status something strange: Absurd. There are two cases:

In [177]:
df['Marital_Status'].groupby(df['Marital_Status']).count()

Marital_Status
Absurd        2
Alone         3
Divorced    232
Married     864
Single      480
Together    580
Widow        77
YOLO          2
Name: Marital_Status, dtype: int64

#### Income

In [178]:
dc.look_quality_of_the_column_data(df, 'Income')

Column name: Income
Data type: float64
Null data: 24
Duplicate data: True
Values:
1730.0, 2447.0, 3502.0, 4023.0, 4428.0, 4861.0, 5305.0, 5648.0, 6560.0, 6835.0, 7144.0, 7500.0, 8028.0, 8820.0, 8940.0, 9255.0, 9548.0, 9722.0, 10245.0, 10404.0, 10979.0, 11012.0, 11448.0, 12393.0, 12571.0, 13084.0, 13260.0, 13533.0, 13624.0, 13672.0, 13724.0, 14045.0, 14188.0, 14421.0, 14515.0, 14661.0, 14796.0, 14849.0, 14906.0, 14918.0, 15033.0, 15038.0, 15056.0, 15072.0, 15253.0, 15287.0, 15315.0, 15345.0, 15716.0, 15759.0, 15862.0, 16005.0, 16014.0, 16185.0, 16248.0, 16269.0, 16529.0, 16531.0, 16581.0, 16626.0, 16653.0, 16813.0, 16860.0, 16927.0, 17003.0, 17117.0, 17144.0, 17148.0, 17256.0, 17323.0, 17345.0, 17459.0, 17487.0, 17649.0, 17688.0, 18100.0, 18169.0, 18222.0, 18227.0, 18351.0, 18358.0, 18393.0, 18492.0, 18589.0, 18690.0, 18701.0, 18746.0, 18793.0, 18890.0, 18929.0, 18978.0, 18988.0, 19107.0, 19329.0, 19346.0, 19414.0, 19419.0, 19444.0, 19485.0, 19510.0, 19514.0, 19656.0, 19740.0, 19789.0, 19986.0, 20130.0, 20180.0, 20193.0, 20194.0, 20425.0, 20427.0, 20491.0, 20518.0, 20559.0, 20587.0, 20895.0, 20981.0, 21024.0, 21059.0, 21063.0, 21255.0, 21282.0, 21355.0, 21359.0, 21474.0, 21645.0, 21675.0, 21840.0, 21846.0, 21888.0, 21918.0, 21955.0, 21994.0, 22010.0, 22063.0, 22070.0, 22108.0, 22123.0, 22148.0, 22212.0, 22263.0, 22280.0, 22304.0, 22327.0, 22390.0, 22419.0, 22434.0, 22448.0, 22507.0, 22518.0, 22554.0, 22574.0, 22585.0, 22634.0, 22669.0, 22682.0, 22701.0, 22775.0, 22804.0, 22944.0, 22979.0, 23091.0, 23148.0, 23162.0, 23228.0, 23272.0, 23295.0, 23331.0, 23442.0, 23477.0, 23478.0, 23529.0, 23536.0, 23539.0, 23559.0, 23616.0, 23626.0, 23661.0, 23718.0, 23724.0, 23748.0, 23763.0, 23830.0, 23910.0, 23957.0, 23976.0, 24027.0, 24072.0, 24163.0, 24206.0, 24221.0, 24279.0, 24336.0, 24367.0, 24401.0, 24434.0, 24480.0, 24570.0, 24594.0, 24639.0, 24645.0, 24683.0, 24711.0, 24762.0, 24882.0, 24884.0, 25008.0, 25130.0, 25176.0, 25224.0, 25252.0, 25271.0, 25293.0, 25315.0, 25358.0, 25410.0, 25443.0, 25509.0, 25545.0, 25707.0, 25721.0, 25804.0, 25818.0, 25851.0, 25930.0, 25959.0, 25965.0, 26067.0, 26091.0, 26095.0, 26150.0, 26224.0, 26228.0, 26290.0, 26304.0, 26326.0, 26487.0, 26490.0, 26518.0, 26576.0, 26642.0, 26646.0, 26751.0, 26759.0, 26816.0, 26850.0, 26868.0, 26872.0, 26877.0, 26887.0, 26907.0, 26954.0, 26997.0, 27038.0, 27071.0, 27100.0, 27116.0, 27159.0, 27161.0, 27190.0, 27203.0, 27213.0, 27215.0, 27238.0, 27242.0, 27244.0, 27255.0, 27421.0, 27450.0, 27469.0, 27573.0, 27590.0, 27683.0, 27733.0, 27803.0, 27889.0, 27922.0, 27938.0, 27943.0, 28071.0, 28072.0, 28087.0, 28164.0, 28249.0, 28320.0, 28332.0, 28359.0, 28389.0, 28420.0, 28427.0, 28440.0, 28442.0, 28457.0, 28510.0, 28520.0, 28567.0, 28587.0, 28647.0, 28691.0, 28718.0, 28764.0, 28769.0, 28839.0, 28973.0, 29009.0, 29103.0, 29187.0, 29236.0, 29298.0, 29315.0, 29435.0, 29440.0, 29478.0, 29543.0, 29548.0, 29604.0, 29672.0, 29732.0, 29760.0, 29791.0, 29819.0, 29938.0, 29999.0, 30015.0, 30023.0, 30081.0, 30093.0, 30096.0, 30168.0, 30261.0, 30279.0, 30298.0, 30351.0, 30368.0, 30372.0, 30390.0, 30396.0, 30467.0, 30477.0, 30507.0, 30522.0, 30523.0, 30538.0, 30545.0, 30560.0, 30630.0, 30631.0, 30675.0, 30732.0, 30753.0, 30772.0, 30801.0, 30822.0, 30828.0, 30833.0, 30843.0, 30899.0, 30983.0, 30992.0, 31056.0, 31086.0, 31089.0, 31158.0, 31160.0, 31163.0, 31353.0, 31385.0, 31395.0, 31454.0, 31497.0, 31535.0, 31560.0, 31590.0, 31605.0, 31615.0, 31626.0, 31632.0, 31686.0, 31761.0, 31788.0, 31814.0, 31859.0, 31878.0, 31880.0, 31907.0, 31928.0, 32011.0, 32144.0, 32146.0, 32173.0, 32218.0, 32233.0, 32300.0, 32303.0, 32313.0, 32414.0, 32474.0, 32557.0, 32583.0, 32632.0, 32644.0, 32727.0, 32765.0, 32871.0, 32880.0, 32889.0, 32892.0, 32952.0, 33039.0, 33051.0, 33168.0, 33178.0, 33181.0, 33183.0, 33228.0, 33235.0, 33249.0, 33279.0, 33316.0, 33378.0, 33402.0, 33419.0, 33438.0, 33444.0, 33454.0, 33456.0, 33462.0, 33471.0, 33562.0, 33564.0, 33569.0, 33581.0, 33585.0, 33590.0, 33622.0, 33629.0, 33697.0, 33762.0, 33812.0, 33955.0, 33986.0, 33996.0, 34026.0, 34043.0, 34053.0, 34074.0, 34109.0, 34176.0, 34213.0, 34230.0, 34242.0, 34320.0, 34350.0, 34377.0, 34380.0, 34412.0, 34421.0, 34445.0, 34469.0, 34487.0, 34529.0, 34554.0, 34578.0, 34587.0, 34596.0, 34600.0, 34633.0, 34704.0, 34728.0, 34738.0, 34824.0, 34838.0, 34853.0, 34916.0, 34935.0, 34941.0, 34961.0, 34968.0, 34984.0, 35178.0, 35196.0, 35246.0, 35322.0, 35340.0, 35388.0, 35416.0, 35441.0, 35523.0, 35544.0, 35641.0, 35682.0, 35684.0, 35688.0, 35701.0, 35704.0, 35765.0, 35788.0, 35790.0, 35791.0, 35797.0, 35860.0, 35876.0, 35893.0, 35924.0, 35946.0, 36026.0, 36038.0, 36065.0, 36075.0, 36108.0, 36130.0, 36138.0, 36143.0, 36145.0, 36230.0, 36262.0, 36273.0, 36283.0, 36301.0, 36317.0, 36408.0, 36443.0, 36550.0, 36627.0, 36634.0, 36640.0, 36663.0, 36715.0, 36732.0, 36736.0, 36778.0, 36781.0, 36790.0, 36802.0, 36807.0, 36864.0, 36921.0, 36927.0, 36930.0, 36947.0, 36957.0, 36959.0, 36975.0, 36997.0, 37040.0, 37054.0, 37070.0, 37085.0, 37087.0, 37126.0, 37150.0, 37155.0, 37235.0, 37244.0, 37284.0, 37292.0, 37334.0, 37368.0, 37395.0, 37401.0, 37406.0, 37509.0, 37633.0, 37697.0, 37716.0, 37717.0, 37758.0, 37760.0, 37774.0, 37787.0, 37859.0, 37929.0, 37971.0, 38054.0, 38097.0, 38136.0, 38175.0, 38179.0, 38196.0, 38197.0, 38200.0, 38201.0, 38232.0, 38236.0, 38285.0, 38360.0, 38361.0, 38410.0, 38415.0, 38443.0, 38452.0, 38508.0, 38513.0, 38547.0, 38557.0, 38576.0, 38578.0, 38590.0, 38593.0, 38620.0, 38643.0, 38680.0, 38683.0, 38702.0, 38725.0, 38741.0, 38808.0, 38823.0, 38829.0, 38853.0, 38872.0, 38887.0, 38946.0, 38961.0, 38988.0, 38998.0, 39062.0, 39146.0, 39190.0, 39228.0, 39356.0, 39435.0, 39453.0, 39548.0, 39552.0, 39660.0, 39665.0, 39684.0, 39722.0, 39747.0, 39763.0, 39767.0, 39771.0, 39791.0, 39858.0, 39898.0, 39922.0, 39996.0, 40049.0, 40059.0, 40101.0, 40211.0, 40233.0, 40246.0, 40304.0, 40321.0, 40344.0, 40442.0, 40451.0, 40464.0, 40479.0, 40521.0, 40548.0, 40590.0, 40637.0, 40662.0, 40689.0, 40706.0, 40737.0, 40760.0, 40780.0, 40794.0, 40800.0, 40851.0, 40887.0, 41003.0, 41014.0, 41020.0, 41021.0, 41039.0, 41120.0, 41124.0, 41145.0, 41154.0, 41275.0, 41335.0, 41411.0, 41437.0, 41443.0, 41452.0, 41473.0, 41551.0, 41580.0, 41638.0, 41644.0, 41658.0, 41713.0, 41728.0, 41769.0, 41850.0, 41883.0, 41967.0, 41986.0, 42000.0, 42011.0, 42014.0, 42021.0, 42033.0, 42081.0, 42160.0, 42162.0, 42169.0, 42192.0, 42207.0, 42213.0, 42231.0, 42243.0, 42315.0, 42373.0, 42386.0, 42387.0, 42394.0, 42395.0, 42403.0, 42429.0, 42473.0, 42523.0, 42554.0, 42557.0, 42564.0, 42586.0, 42607.0, 42618.0, 42664.0, 42670.0, 42691.0, 42693.0, 42710.0, 42720.0, 42731.0, 42767.0, 42769.0, 42835.0, 42873.0, 42997.0, 43018.0, 43020.0, 43050.0, 43057.0, 43140.0, 43142.0, 43185.0, 43263.0, 43269.0, 43300.0, 43322.0, 43456.0, 43462.0, 43482.0, 43586.0, 43602.0, 43638.0, 43641.0, 43776.0, 43783.0, 43795.0, 43815.0, 43824.0, 43974.0, 44010.0, 44051.0, 44078.0, 44124.0, 44155.0, 44159.0, 44213.0, 44267.0, 44300.0, 44319.0, 44322.0, 44325.0, 44359.0, 44375.0, 44377.0, 44392.0, 44393.0, 44421.0, 44503.0, 44511.0, 44512.0, 44529.0, 44551.0, 44602.0, 44635.0, 44689.0, 44794.0, 44802.0, 44911.0, 44931.0, 44953.0, 44964.0, 44989.0, 45006.0, 45057.0, 45068.0, 45072.0, 45143.0, 45146.0, 45160.0, 45183.0, 45203.0, 45204.0, 45207.0, 45503.0, 45576.0, 45579.0, 45684.0, 45688.0, 45736.0, 45759.0, 45837.0, 45889.0, 45894.0, 45903.0, 45906.0, 45921.0, 45938.0, 45989.0, 46014.0, 46015.0, 46049.0, 46053.0, 46086.0, 46094.0, 46097.0, 46098.0, 46102.0, 46106.0, 46107.0, 46149.0, 46231.0, 46310.0, 46344.0, 46374.0, 46377.0, 46390.0, 46423.0, 46463.0, 46524.0, 46610.0, 46681.0, 46692.0, 46734.0, 46757.0, 46772.0, 46779.0, 46831.0, 46854.0, 46891.0, 46904.0, 46910.0, 46923.0, 46931.0, 46984.0, 46998.0, 47009.0, 47025.0, 47111.0, 47139.0, 47175.0, 47320.0, 47352.0, 47353.0, 47472.0, 47570.0, 47682.0, 47691.0, 47703.0, 47743.0, 47808.0, 47821.0, 47823.0, 47850.0, 47889.0, 47916.0, 47958.0, 48006.0, 48070.0, 48150.0, 48178.0, 48186.0, 48192.0, 48195.0, 48240.0, 48330.0, 48432.0, 48526.0, 48686.0, 48699.0, 48721.0, 48726.0, 48752.0, 48767.0, 48789.0, 48794.0, 48799.0, 48877.0, 48904.0, 48918.0, 48920.0, 48948.0, 48985.0, 49090.0, 49094.0, 49096.0, 49118.0, 49154.0, 49160.0, 49166.0, 49187.0, 49269.0, 49389.0, 49413.0, 49431.0, 49476.0, 49494.0, 49505.0, 49514.0, 49544.0, 49572.0, 49605.0, 49618.0, 49638.0, 49667.0, 49669.0, 49678.0, 49681.0, 49767.0, 49854.0, 49912.0, 49967.0, 49980.0, 50002.0, 50014.0, 50116.0, 50127.0, 50150.0, 50183.0, 50200.0, 50272.0, 50300.0, 50334.0, 50353.0, 50387.0, 50388.0, 50437.0, 50447.0, 50501.0, 50520.0, 50523.0, 50611.0, 50616.0, 50664.0, 50725.0, 50729.0, 50737.0, 50785.0, 50870.0, 50898.0, 50943.0, 50965.0, 51012.0, 51039.0, 51111.0, 51124.0, 51141.0, 51148.0, 51195.0, 51250.0, 51267.0, 51287.0, 51315.0, 51369.0, 51373.0, 51390.0, 51411.0, 51412.0, 51479.0, 51518.0, 51529.0, 51537.0, 51563.0, 51569.0, 51650.0, 51651.0, 51717.0, 51766.0, 51813.0, 51876.0, 51948.0, 51983.0, 52034.0, 52074.0, 52117.0, 52157.0, 52190.0, 52195.0, 52203.0, 52278.0, 52332.0, 52413.0, 52513.0, 52531.0, 52569.0, 52597.0, 52614.0, 52750.0, 52845.0, 52852.0, 52854.0, 52869.0, 52914.0, 52973.0, 53034.0, 53083.0, 53103.0, 53154.0, 53172.0, 53187.0, 53201.0, 53204.0, 53230.0, 53233.0, 53253.0, 53312.0, 53359.0, 53367.0, 53374.0, 53378.0, 53537.0, 53593.0, 53653.0, 53700.0, 53761.0, 53790.0, 53843.0, 53858.0, 53863.0, 53977.0, 54006.0, 54058.0, 54072.0, 54108.0, 54111.0, 54132.0, 54137.0, 54162.0, 54165.0, 54178.0, 54197.0, 54198.0, 54210.0, 54222.0, 54233.0, 54237.0, 54252.0, 54342.0, 54348.0, 54356.0, 54386.0, 54414.0, 54432.0, 54450.0, 54456.0, 54466.0, 54549.0, 54591.0, 54603.0, 54690.0, 54693.0, 54730.0, 54753.0, 54803.0, 54809.0, 54880.0, 54959.0, 54984.0, 54998.0, 55012.0, 55158.0, 55212.0, 55239.0, 55249.0, 55250.0, 55260.0, 55267.0, 55282.0, 55284.0, 55357.0, 55375.0, 55412.0, 55424.0, 55434.0, 55517.0, 55521.0, 55563.0, 55593.0, 55614.0, 55635.0, 55686.0, 55707.0, 55759.0, 55761.0, 55801.0, 55842.0, 55914.0, 55951.0, 55954.0, 55956.0, 56046.0, 56067.0, 56129.0, 56181.0, 56223.0, 56242.0, 56243.0, 56253.0, 56320.0, 56337.0, 56386.0, 56534.0, 56551.0, 56559.0, 56575.0, 56628.0, 56715.0, 56721.0, 56775.0, 56796.0, 56850.0, 56937.0, 56939.0, 56962.0, 56981.0, 57036.0, 57045.0, 57072.0, 57091.0, 57100.0, 57107.0, 57113.0, 57136.0, 57183.0, 57236.0, 57247.0, 57288.0, 57304.0, 57333.0, 57338.0, 57420.0, 57513.0, 57530.0, 57537.0, 57642.0, 57705.0, 57731.0, 57744.0, 57811.0, 57867.0, 57906.0, 57912.0, 57937.0, 57954.0, 57957.0, 57959.0, 57967.0, 58025.0, 58086.0, 58113.0, 58116.0, 58138.0, 58217.0, 58275.0, 58293.0, 58308.0, 58330.0, 58350.0, 58398.0, 58401.0, 58482.0, 58494.0, 58512.0, 58554.0, 58582.0, 58597.0, 58607.0, 58646.0, 58656.0, 58684.0, 58692.0, 58710.0, 58821.0, 58917.0, 59041.0, 59052.0, 59060.0, 59062.0, 59111.0, 59184.0, 59235.0, 59247.0, 59292.0, 59304.0, 59354.0, 59385.0, 59412.0, 59432.0, 59462.0, 59481.0, 59594.0, 59601.0, 59666.0, 59686.0, 59754.0, 59809.0, 59821.0, 59868.0, 59892.0, 59925.0, 59973.0, 60000.0, 60033.0, 60093.0, 60152.0, 60161.0, 60182.0, 60199.0, 60200.0, 60208.0, 60230.0, 60432.0, 60474.0, 60482.0, 60491.0, 60504.0, 60544.0, 60554.0, 60585.0, 60597.0, 60631.0, 60689.0, 60714.0, 60839.0, 60894.0, 60896.0, 60905.0, 60934.0, 61010.0, 61014.0, 61064.0, 61074.0, 61180.0, 61209.0, 61223.0, 61250.0, 61278.0, 61284.0, 61286.0, 61314.0, 61331.0, 61346.0, 61416.0, 61456.0, 61467.0, 61482.0, 61559.0, 61618.0, 61671.0, 61787.0, 61794.0, 61798.0, 61823.0, 61825.0, 61839.0, 61872.0, 61905.0, 61917.0, 61923.0, 61996.0, 62000.0, 62010.0, 62058.0, 62061.0, 62159.0, 62187.0, 62204.0, 62220.0, 62307.0, 62335.0, 62450.0, 62466.0, 62499.0, 62503.0, 62513.0, 62535.0, 62551.0, 62568.0, 62637.0, 62670.0, 62694.0, 62710.0, 62745.0, 62772.0, 62807.0, 62820.0, 62845.0, 62847.0, 62859.0, 62882.0, 62905.0, 62972.0, 62981.0, 62994.0, 62998.0, 63033.0, 63120.0, 63159.0, 63206.0, 63207.0, 63211.0, 63246.0, 63285.0, 63342.0, 63381.0, 63404.0, 63516.0, 63564.0, 63684.0, 63693.0, 63777.0, 63810.0, 63841.0, 63855.0, 63887.0, 63915.0, 63943.0, 63967.0, 63972.0, 63998.0, 64014.0, 64090.0, 64100.0, 64108.0, 64140.0, 64176.0, 64191.0, 64260.0, 64325.0, 64355.0, 64413.0, 64449.0, 64474.0, 64497.0, 64504.0, 64509.0, 64587.0, 64590.0, 64713.0, 64722.0, 64795.0, 64813.0, 64831.0, 64849.0, 64857.0, 64866.0, 64892.0, 64950.0, 64961.0, 65031.0, 65073.0, 65104.0, 65106.0, 65148.0, 65169.0, 65176.0, 65196.0, 65210.0, 65220.0, 65275.0, 65295.0, 65308.0, 65316.0, 65324.0, 65333.0, 65352.0, 65370.0, 65463.0, 65486.0, 65487.0, 65488.0, 65492.0, 65526.0, 65569.0, 65640.0, 65665.0, 65685.0, 65695.0, 65704.0, 65706.0, 65735.0, 65747.0, 65748.0, 65777.0, 65808.0, 65814.0, 65819.0, 65846.0, 65968.0, 65991.0, 66000.0, 66033.0, 66294.0, 66303.0, 66313.0, 66334.0, 66373.0, 66375.0, 66426.0, 66465.0, 66476.0, 66480.0, 66503.0, 66565.0, 66582.0, 66636.0, 66653.0, 66664.0, 66726.0, 66731.0, 66825.0, 66835.0, 66886.0, 66951.0, 66973.0, 66991.0, 67023.0, 67046.0, 67087.0, 67131.0, 67225.0, 67267.0, 67272.0, 67309.0, 67353.0, 67369.0, 67381.0, 67384.0, 67419.0, 67430.0, 67432.0, 67433.0, 67445.0, 67472.0, 67506.0, 67536.0, 67546.0, 67605.0, 67680.0, 67716.0, 67786.0, 67893.0, 67911.0, 68092.0, 68117.0, 68118.0, 68126.0, 68142.0, 68148.0, 68274.0, 68281.0, 68316.0, 68352.0, 68397.0, 68462.0, 68487.0, 68627.0, 68655.0, 68657.0, 68682.0, 68695.0, 68743.0, 68805.0, 69016.0, 69063.0, 69084.0, 69096.0, 69098.0, 69109.0, 69139.0, 69142.0, 69209.0, 69245.0, 69263.0, 69267.0, 69283.0, 69372.0, 69389.0, 69401.0, 69476.0, 69508.0, 69520.0, 69627.0, 69661.0, 69674.0, 69702.0, 69719.0, 69755.0, 69759.0, 69805.0, 69867.0, 69882.0, 69901.0, 69930.0, 69932.0, 69969.0, 70038.0, 70044.0, 70053.0, 70091.0, 70116.0, 70123.0, 70165.0, 70179.0, 70287.0, 70300.0, 70321.0, 70337.0, 70356.0, 70379.0, 70421.0, 70440.0, 70503.0, 70515.0, 70545.0, 70566.0, 70596.0, 70617.0, 70638.0, 70643.0, 70647.0, 70666.0, 70713.0, 70777.0, 70792.0, 70829.0, 70844.0, 70886.0, 70893.0, 70924.0, 70932.0, 70951.0, 70971.0, 71022.0, 71107.0, 71113.0, 71128.0, 71163.0, 71232.0, 71322.0, 71367.0, 71391.0, 71427.0, 71434.0, 71466.0, 71488.0, 71499.0, 71604.0, 71613.0, 71626.0, 71670.0, 71691.0, 71706.0, 71796.0, 71819.0, 71847.0, 71853.0, 71855.0, 71866.0, 71952.0, 71964.0, 71965.0, 71969.0, 72025.0, 72063.0, 72066.0, 72071.0, 72099.0, 72117.0, 72159.0, 72190.0, 72217.0, 72228.0, 72258.0, 72282.0, 72298.0, 72309.0, 72335.0, 72354.0, 72460.0, 72504.0, 72550.0, 72570.0, 72635.0, 72643.0, 72679.0, 72828.0, 72903.0, 72905.0, 72906.0, 72940.0, 72967.0, 72968.0, 73059.0, 73113.0, 73170.0, 73356.0, 73395.0, 73448.0, 73450.0, 73454.0, 73455.0, 73538.0, 73687.0, 73691.0, 73705.0, 73803.0, 73807.0, 73892.0, 73926.0, 74004.0, 74068.0, 74116.0, 74165.0, 74190.0, 74214.0, 74250.0, 74268.0, 74290.0, 74293.0, 74485.0, 74538.0, 74637.0, 74716.0, 74805.0, 74806.0, 74854.0, 74859.0, 74881.0, 74918.0, 74985.0, 75012.0, 75027.0, 75032.0, 75072.0, 75114.0, 75127.0, 75154.0, 75236.0, 75251.0, 75261.0, 75276.0, 75278.0, 75283.0, 75315.0, 75330.0, 75342.0, 75345.0, 75433.0, 75437.0, 75484.0, 75507.0, 75693.0, 75702.0, 75759.0, 75774.0, 75777.0, 75794.0, 75825.0, 75865.0, 75903.0, 75922.0, 76005.0, 76045.0, 76068.0, 76081.0, 76140.0, 76234.0, 76320.0, 76412.0, 76445.0, 76467.0, 76532.0, 76542.0, 76618.0, 76624.0, 76630.0, 76653.0, 76773.0, 76800.0, 76842.0, 76982.0, 76995.0, 76998.0, 77027.0, 77037.0, 77044.0, 77142.0, 77226.0, 77297.0, 77298.0, 77343.0, 77353.0, 77376.0, 77382.0, 77437.0, 77457.0, 77520.0, 77568.0, 77583.0, 77598.0, 77610.0, 77622.0, 77632.0, 77766.0, 77845.0, 77863.0, 77870.0, 77882.0, 77972.0, 77981.0, 78028.0, 78041.0, 78075.0, 78093.0, 78128.0, 78285.0, 78331.0, 78353.0, 78394.0, 78416.0, 78420.0, 78427.0, 78468.0, 78497.0, 78499.0, 78569.0, 78579.0, 78618.0, 78642.0, 78687.0, 78710.0, 78789.0, 78825.0, 78901.0, 78931.0, 78939.0, 78952.0, 79143.0, 79146.0, 79174.0, 79205.0, 79244.0, 79410.0, 79419.0, 79456.0, 79529.0, 79530.0, 79593.0, 79607.0, 79632.0, 79689.0, 79734.0, 79761.0, 79800.0, 79803.0, 79823.0, 79865.0, 79908.0, 79930.0, 79941.0, 79946.0, 80011.0, 80067.0, 80124.0, 80134.0, 80141.0, 80144.0, 80184.0, 80317.0, 80336.0, 80360.0, 80395.0, 80398.0, 80427.0, 80573.0, 80589.0, 80617.0, 80685.0, 80695.0, 80739.0, 80763.0, 80812.0, 80872.0, 80910.0, 80950.0, 80952.0, 80982.0, 80995.0, 81044.0, 81051.0, 81168.0, 81169.0, 81205.0, 81217.0, 81246.0, 81300.0, 81320.0, 81361.0, 81380.0, 81574.0, 81657.0, 81698.0, 81702.0, 81741.0, 81795.0, 81843.0, 81929.0, 81975.0, 82014.0, 82017.0, 82025.0, 82032.0, 82072.0, 82122.0, 82170.0, 82224.0, 82326.0, 82332.0, 82333.0, 82347.0, 82384.0, 82427.0, 82460.0, 82497.0, 82504.0, 82571.0, 82576.0, 82582.0, 82584.0, 82623.0, 82657.0, 82716.0, 82733.0, 82800.0, 83003.0, 83033.0, 83145.0, 83151.0, 83257.0, 83273.0, 83443.0, 83512.0, 83528.0, 83532.0, 83664.0, 83715.0, 83790.0, 83829.0, 83837.0, 83844.0, 83891.0, 83917.0, 84117.0, 84169.0, 84196.0, 84219.0, 84460.0, 84574.0, 84618.0, 84835.0, 84865.0, 84906.0, 84953.0, 85072.0, 85431.0, 85485.0, 85606.0, 85620.0, 85683.0, 85693.0, 85696.0, 85710.0, 85738.0, 85844.0, 86037.0, 86111.0, 86358.0, 86424.0, 86429.0, 86580.0, 86610.0, 86718.0, 86836.0, 86857.0, 86979.0, 87000.0, 87171.0, 87188.0, 87195.0, 87305.0, 87679.0, 87771.0, 88097.0, 88194.0, 88325.0, 88347.0, 88420.0, 89058.0, 89120.0, 89572.0, 89616.0, 89694.0, 89891.0, 90000.0, 90226.0, 90247.0, 90273.0, 90300.0, 90369.0, 90638.0, 90687.0, 90765.0, 90842.0, 90933.0, 91065.0, 91172.0, 91249.0, 91700.0, 91712.0, 91820.0, 92163.0, 92344.0, 92491.0, 92533.0, 92556.0, 92859.0, 92910.0, 92955.0, 93027.0, 93404.0, 93790.0, 94384.0, 94472.0, 94642.0, 94871.0, 95169.0, 95529.0, 96547.0, 96843.0, 96876.0, 98777.0, 101970.0, 102160.0, 102692.0, 105471.0, 113734.0, 153924.0, 156924.0, 157146.0, 157243.0, 157733.0, 160803.0, 162397.0, 666666.0, nan

There are null values in this column.

#### Kidhome

In [179]:
dc.look_quality_of_the_column_data(df, 'Kidhome')

Column name: Kidhome
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2

Everything is OK!

#### Teenhome

In [180]:
dc.look_quality_of_the_column_data(df, 'Teenhome')

Column name: Teenhome
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2

Everything is OK!

#### Dt_Customer

In [181]:
dc.look_quality_of_the_column_data(df, 'Dt_Customer')

Column name: Dt_Customer
Data type: object
Null data: 0
Duplicate data: True
Values:
2012-07-30, 2012-07-31, 2012-08-01, 2012-08-02, 2012-08-03, 2012-08-04, 2012-08-05, 2012-08-06, 2012-08-07, 2012-08-08, 2012-08-09, 2012-08-10, 2012-08-11, 2012-08-12, 2012-08-13, 2012-08-14, 2012-08-15, 2012-08-16, 2012-08-17, 2012-08-18, 2012-08-19, 2012-08-20, 2012-08-21, 2012-08-22, 2012-08-23, 2012-08-24, 2012-08-25, 2012-08-26, 2012-08-27, 2012-08-28, 2012-08-29, 2012-08-30, 2012-08-31, 2012-09-01, 2012-09-02, 2012-09-03, 2012-09-04, 2012-09-05, 2012-09-06, 2012-09-07, 2012-09-08, 2012-09-09, 2012-09-10, 2012-09-11, 2012-09-12, 2012-09-14, 2012-09-15, 2012-09-17, 2012-09-18, 2012-09-19, 2012-09-20, 2012-09-21, 2012-09-22, 2012-09-23, 2012-09-24, 2012-09-25, 2012-09-26, 2012-09-27, 2012-09-28, 2012-09-29, 2012-09-30, 2012-10-01, 2012-10-02, 2012-10-04, 2012-10-05, 2012-10-06, 2012-10-07, 2012-10-09, 2012-10-10, 2012-10-11, 2012-10-12, 2012-10-13, 2012-10-14, 2012-10-15, 2012-10-16, 2012-10-17, 2012-10-18, 2012-10-19, 2012-10-20, 2012-10-21, 2012-10-22, 2012-10-23, 2012-10-24, 2012-10-25, 2012-10-26, 2012-10-27, 2012-10-28, 2012-10-29, 2012-10-30, 2012-10-31, 2012-11-01, 2012-11-02, 2012-11-03, 2012-11-04, 2012-11-05, 2012-11-06, 2012-11-07, 2012-11-08, 2012-11-09, 2012-11-10, 2012-11-11, 2012-11-12, 2012-11-13, 2012-11-14, 2012-11-16, 2012-11-17, 2012-11-18, 2012-11-19, 2012-11-20, 2012-11-21, 2012-11-22, 2012-11-23, 2012-11-24, 2012-11-25, 2012-11-26, 2012-11-27, 2012-11-28, 2012-11-29, 2012-11-30, 2012-12-01, 2012-12-02, 2012-12-03, 2012-12-04, 2012-12-05, 2012-12-06, 2012-12-07, 2012-12-08, 2012-12-09, 2012-12-10, 2012-12-11, 2012-12-12, 2012-12-14, 2012-12-15, 2012-12-16, 2012-12-17, 2012-12-18, 2012-12-19, 2012-12-20, 2012-12-21, 2012-12-22, 2012-12-23, 2012-12-24, 2012-12-25, 2012-12-26, 2012-12-27, 2012-12-28, 2012-12-29, 2012-12-30, 2012-12-31, 2013-01-01, 2013-01-02, 2013-01-03, 2013-01-04, 2013-01-05, 2013-01-06, 2013-01-07, 2013-01-08, 2013-01-09, 2013-01-10, 2013-01-11, 2013-01-12, 2013-01-13, 2013-01-14, 2013-01-15, 2013-01-16, 2013-01-17, 2013-01-19, 2013-01-20, 2013-01-21, 2013-01-22, 2013-01-23, 2013-01-24, 2013-01-25, 2013-01-26, 2013-01-27, 2013-01-29, 2013-01-31, 2013-02-01, 2013-02-02, 2013-02-03, 2013-02-04, 2013-02-06, 2013-02-07, 2013-02-08, 2013-02-09, 2013-02-10, 2013-02-11, 2013-02-12, 2013-02-13, 2013-02-14, 2013-02-15, 2013-02-16, 2013-02-17, 2013-02-18, 2013-02-19, 2013-02-20, 2013-02-21, 2013-02-22, 2013-02-23, 2013-02-25, 2013-02-26, 2013-02-27, 2013-02-28, 2013-03-01, 2013-03-02, 2013-03-03, 2013-03-04, 2013-03-05, 2013-03-06, 2013-03-07, 2013-03-08, 2013-03-09, 2013-03-10, 2013-03-11, 2013-03-12, 2013-03-14, 2013-03-15, 2013-03-16, 2013-03-17, 2013-03-18, 2013-03-19, 2013-03-20, 2013-03-21, 2013-03-22, 2013-03-23, 2013-03-24, 2013-03-25, 2013-03-26, 2013-03-27, 2013-03-28, 2013-03-29, 2013-03-30, 2013-03-31, 2013-04-01, 2013-04-02, 2013-04-03, 2013-04-05, 2013-04-06, 2013-04-07, 2013-04-08, 2013-04-09, 2013-04-10, 2013-04-11, 2013-04-12, 2013-04-13, 2013-04-14, 2013-04-15, 2013-04-16, 2013-04-17, 2013-04-18, 2013-04-19, 2013-04-20, 2013-04-21, 2013-04-22, 2013-04-23, 2013-04-24, 2013-04-25, 2013-04-27, 2013-04-28, 2013-04-29, 2013-04-30, 2013-05-01, 2013-05-02, 2013-05-03, 2013-05-04, 2013-05-05, 2013-05-06, 2013-05-07, 2013-05-08, 2013-05-09, 2013-05-10, 2013-05-11, 2013-05-12, 2013-05-13, 2013-05-14, 2013-05-15, 2013-05-16, 2013-05-17, 2013-05-18, 2013-05-19, 2013-05-20, 2013-05-21, 2013-05-22, 2013-05-23, 2013-05-24, 2013-05-25, 2013-05-26, 2013-05-27, 2013-05-28, 2013-05-29, 2013-05-30, 2013-05-31, 2013-06-01, 2013-06-02, 2013-06-03, 2013-06-04, 2013-06-06, 2013-06-08, 2013-06-09, 2013-06-10, 2013-06-11, 2013-06-12, 2013-06-13, 2013-06-14, 2013-06-16, 2013-06-17, 2013-06-18, 2013-06-19, 2013-06-20, 2013-06-21, 2013-06-22, 2013-06-23, 2013-06-24, 2013-06-25, 2013-06-26, 2013-06-27, 2013-06-28, 2013-06-29, 2013-06-30, 2013-07-01, 2013-07-02, 2013-07-03, 2013-07-04, 2013-07-05, 2013-07-06, 2013-07-07, 2013-07-08, 2013-07-09, 2013-07-11, 2013-07-12, 2013-07-13, 2013-07-14, 2013-07-15, 2013-07-16, 2013-07-17, 2013-07-18, 2013-07-19, 2013-07-20, 2013-07-21, 2013-07-22, 2013-07-23, 2013-07-24, 2013-07-25, 2013-07-26, 2013-07-27, 2013-07-28, 2013-07-29, 2013-07-30, 2013-07-31, 2013-08-01, 2013-08-02, 2013-08-03, 2013-08-04, 2013-08-05, 2013-08-06, 2013-08-07, 2013-08-08, 2013-08-09, 2013-08-10, 2013-08-11, 2013-08-12, 2013-08-13, 2013-08-14, 2013-08-15, 2013-08-16, 2013-08-17, 2013-08-18, 2013-08-19, 2013-08-20, 2013-08-21, 2013-08-22, 2013-08-23, 2013-08-24, 2013-08-25, 2013-08-26, 2013-08-27, 2013-08-28, 2013-08-29, 2013-08-30, 2013-08-31, 2013-09-01, 2013-09-02, 2013-09-04, 2013-09-05, 2013-09-06, 2013-09-07, 2013-09-09, 2013-09-10, 2013-09-11, 2013-09-12, 2013-09-13, 2013-09-14, 2013-09-15, 2013-09-16, 2013-09-17, 2013-09-18, 2013-09-19, 2013-09-20, 2013-09-21, 2013-09-22, 2013-09-23, 2013-09-24, 2013-09-25, 2013-09-26, 2013-09-27, 2013-09-28, 2013-09-30, 2013-10-01, 2013-10-02, 2013-10-03, 2013-10-04, 2013-10-05, 2013-10-06, 2013-10-08, 2013-10-09, 2013-10-10, 2013-10-11, 2013-10-12, 2013-10-13, 2013-10-14, 2013-10-15, 2013-10-16, 2013-10-17, 2013-10-18, 2013-10-19, 2013-10-20, 2013-10-21, 2013-10-22, 2013-10-23, 2013-10-24, 2013-10-25, 2013-10-26, 2013-10-27, 2013-10-28, 2013-10-29, 2013-10-30, 2013-11-01, 2013-11-02, 2013-11-03, 2013-11-04, 2013-11-05, 2013-11-06, 2013-11-07, 2013-11-08, 2013-11-09, 2013-11-10, 2013-11-12, 2013-11-13, 2013-11-14, 2013-11-15, 2013-11-17, 2013-11-18, 2013-11-19, 2013-11-20, 2013-11-21, 2013-11-22, 2013-11-23, 2013-11-25, 2013-11-26, 2013-11-27, 2013-11-28, 2013-11-29, 2013-11-30, 2013-12-01, 2013-12-02, 2013-12-03, 2013-12-04, 2013-12-05, 2013-12-06, 2013-12-07, 2013-12-08, 2013-12-09, 2013-12-10, 2013-12-11, 2013-12-12, 2013-12-13, 2013-12-14, 2013-12-15, 2013-12-16, 2013-12-17, 2013-12-18, 2013-12-19, 2013-12-20, 2013-12-21, 2013-12-22, 2013-12-23, 2013-12-24, 2013-12-25, 2013-12-26, 2013-12-27, 2013-12-28, 2013-12-29, 2013-12-30, 2013-12-31, 2014-01-01, 2014-01-02, 2014-01-03, 2014-01-04, 2014-01-05, 2014-01-06, 2014-01-07, 2014-01-09, 2014-01-10, 2014-01-11, 2014-01-12, 2014-01-13, 2014-01-14, 2014-01-15, 2014-01-17, 2014-01-18, 2014-01-19, 2014-01-21, 2014-01-22, 2014-01-23, 2014-01-24, 2014-01-25, 2014-01-26, 2014-01-27, 2014-01-28, 2014-01-29, 2014-01-30, 2014-01-31, 2014-02-01, 2014-02-02, 2014-02-03, 2014-02-04, 2014-02-05, 2014-02-06, 2014-02-07, 2014-02-08, 2014-02-09, 2014-02-10, 2014-02-11, 2014-02-12, 2014-02-13, 2014-02-14, 2014-02-15, 2014-02-16, 2014-02-17, 2014-02-18, 2014-02-19, 2014-02-22, 2014-02-23, 2014-02-24, 2014-02-25, 2014-02-26, 2014-02-27, 2014-02-28, 2014-03-01, 2014-03-02, 2014-03-03, 2014-03-04, 2014-03-05, 2014-03-06, 2014-03-07, 2014-03-08, 2014-03-09, 2014-03-10, 2014-03-11, 2014-03-12, 2014-03-13, 2014-03-16, 2014-03-17, 2014-03-18, 2014-03-19, 2014-03-20, 2014-03-21, 2014-03-22, 2014-03-23, 2014-03-24, 2014-03-25, 2014-03-26, 2014-03-27, 2014-03-28, 2014-03-29, 2014-03-30, 2014-03-31, 2014-04-01, 2014-04-02, 2014-04-03, 2014-04-04, 2014-04-05, 2014-04-06, 2014-04-07, 2014-04-08, 2014-04-09, 2014-04-10, 2014-04-11, 2014-04-12, 2014-04-13, 2014-04-14, 2014-04-15, 2014-04-16, 2014-04-17, 2014-04-18, 2014-04-19, 2014-04-20, 2014-04-21, 2014-04-22, 2014-04-23, 2014-04-24, 2014-04-25, 2014-04-26, 2014-04-27, 2014-04-28, 2014-04-29, 2014-04-30, 2014-05-01, 2014-05-02, 2014-05-03, 2014-05-04, 2014-05-05, 2014-05-06, 2014-05-07, 2014-05-08, 2014-05-09, 2014-05-10, 2014-05-11, 2014-05-12, 2014-05-13, 2014-05-15, 2014-05-16, 2014-05-17, 2014-05-18, 2014-05-19, 2014-05-22, 2014-05-23, 2014-05-24, 2014-05-25, 2014-05-26, 2014-05-27, 2014-05-28, 2014-05-29, 2014-05-30, 2014-05-31, 2014-06-02, 2014-06-03, 2014-06-04, 2014-06-05, 2014-06-06, 2014-06-07, 2014-06-08, 2014-06-09, 2014-06-10, 2014-06-11, 2014-06-12, 2014-06-13, 2014-06-14, 2014-06-15, 2014-06-16, 2014-06-17, 2014-06-18, 2014-06-19, 2014-06-20, 2014-06-21, 2014-06-22, 2014-06-23, 2014-06-24, 2014-06-25, 2014-06-26, 2014-06-27, 2014-06-28, 2014-06-29

The type of this column could be datetime.

In [182]:
df = (df.assign(
         Dt_Customer = pd.to_datetime(df['Dt_Customer']))
)

Check if there are customers with the year of enrollment is less than birth year.

In [183]:
df[df.Year_Birth >= df.Dt_Customer.dt.year]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response]
Index: []

[0 rows x 29 columns]

There is not any cases.

#### Recency

In [184]:
dc.look_quality_of_the_column_data(df, 'Recency')

Column name: Recency
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99

Everything is OK!
There are some customers without purchase for more than 90 days.

#### MntWines

In [185]:
dc.look_quality_of_the_column_data(df, 'MntWines')

Column name: MntWines
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 115, 116, 117, 120, 121, 122, 123, 124, 125, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 138, 139, 140, 141, 143, 144, 145, 146, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 191, 192, 194, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 218, 219, 220, 221, 223, 224, 225, 226, 227, 228, 229, 230, 231, 233, 234, 235, 236, 238, 239, 240, 241, 243, 244, 245, 247, 248, 249, 251, 252, 254, 255, 256, 258, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 272, 273, 274, 275, 277, 279, 280, 281, 283, 284, 285, 288, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 301, 302, 303, 304, 305, 306, 307, 308, 309, 311, 312, 313, 314, 315, 316, 317, 318, 320, 321, 322, 324, 325, 327, 328, 329, 330, 331, 332, 333, 335, 336, 338, 340, 341, 342, 344, 345, 346, 347, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 362, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 386, 387, 388, 389, 390, 391, 392, 393, 395, 397, 398, 399, 400, 402, 403, 404, 406, 407, 408, 410, 411, 412, 415, 416, 418, 420, 421, 422, 423, 424, 425, 426, 428, 430, 431, 432, 433, 434, 437, 438, 440, 441, 443, 444, 445, 446, 447, 448, 450, 451, 452, 453, 454, 456, 457, 458, 459, 460, 462, 463, 464, 465, 466, 471, 473, 476, 478, 479, 480, 482, 483, 488, 489, 490, 491, 492, 493, 494, 495, 496, 499, 502, 503, 504, 505, 507, 508, 509, 510, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 529, 530, 531, 532, 533, 534, 536, 537, 538, 539, 543, 544, 545, 546, 547, 548, 551, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 565, 570, 571, 572, 574, 575, 576, 577, 580, 581, 582, 583, 584, 586, 587, 588, 593, 594, 595, 597, 598, 600, 603, 604, 605, 606, 610, 611, 612, 613, 614, 615, 618, 619, 620, 621, 622, 623, 625, 626, 627, 629, 630, 631, 635, 637, 639, 641, 642, 647, 650, 652, 653, 654, 656, 658, 664, 666, 667, 670, 671, 673, 674, 675, 676, 680, 684, 686, 688, 689, 690, 691, 693, 702, 703, 704, 707, 708, 709, 710, 711, 712, 713, 714, 717, 721, 722, 724, 726, 728, 729, 731, 733, 734, 735, 736, 737, 738, 739, 741, 742, 743, 746, 747, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 760, 763, 768, 769, 770, 771, 774, 777, 778, 779, 783, 784, 787, 789, 790, 792, 794, 795, 796, 797, 799, 800, 801, 806, 811, 812, 815, 816, 817, 819, 820, 822, 823, 824, 825, 826, 829, 830, 833, 835, 836, 840, 846, 847, 848, 852, 853, 856, 860, 861, 863, 864, 866, 867, 871, 879, 881, 882, 888, 889, 890, 895, 896, 897, 899, 901, 908, 909, 910, 912, 913, 918, 919, 920, 925, 928, 931, 934, 938, 940, 941, 944, 948, 952, 953, 957, 958, 960, 962, 964, 965, 966, 967, 968, 972, 977, 979, 980, 982, 983, 984, 986, 992, 995, 997, 1000, 1001, 1003, 1004, 1006, 1009, 1012, 1013, 1016, 1017, 1020, 1023, 1032, 1035, 1039, 1043, 1045, 1047, 1048, 1050, 1060, 1063, 1067, 1073, 1074, 1076, 1083, 1090, 1092, 1099, 1103, 1111, 1115, 1121, 1126, 1132, 1142, 1148, 1149, 1156, 1166, 1168, 1170, 1171, 1181, 1184, 1193, 1200, 1205, 1206, 1215, 1218, 1224, 1230, 1239, 1241, 1245, 1248, 1252, 1253, 1259, 1276, 1279, 1285, 1288, 1296, 1298, 1302, 1308, 1311, 1315, 1324, 1332, 1349, 1379, 1394, 1396, 1449, 1459, 1462, 1478, 1486, 1492, 1493

Everything is OK!

#### MntFruits

In [186]:
dc.look_quality_of_the_column_data(df, 'MntFruits')

Column name: MntFruits
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 111, 112, 114, 115, 117, 120, 122, 123, 124, 126, 127, 129, 130, 131, 132, 133, 134, 137, 138, 140, 142, 143, 144, 147, 148, 149, 151, 152, 153, 154, 155, 159, 160, 161, 162, 163, 164, 166, 168, 169, 172, 174, 178, 181, 183, 184, 185, 189, 190, 193, 194, 197, 199

Everything is OK!

#### MntMeatProducts

In [187]:
dc.look_quality_of_the_column_data(df, 'MntMeatProducts')

Column name: MntMeatProducts
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 147, 149, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 188, 189, 192, 193, 194, 195, 196, 197, 199, 201, 202, 203, 204, 205, 206, 207, 208, 209, 211, 212, 213, 214, 215, 216, 217, 218, 219, 221, 222, 223, 224, 226, 227, 228, 230, 231, 232, 233, 234, 235, 237, 238, 239, 240, 241, 242, 243, 247, 248, 249, 250, 252, 253, 254, 255, 256, 257, 259, 260, 263, 264, 265, 266, 267, 269, 270, 271, 272, 273, 274, 275, 276, 278, 279, 280, 281, 282, 286, 287, 288, 291, 292, 293, 294, 295, 297, 298, 300, 303, 304, 305, 309, 311, 314, 315, 317, 319, 320, 322, 323, 324, 329, 332, 333, 334, 335, 337, 338, 341, 342, 345, 348, 349, 350, 351, 352, 353, 354, 356, 359, 360, 363, 364, 367, 368, 369, 372, 373, 374, 375, 376, 377, 379, 380, 382, 384, 385, 387, 388, 389, 391, 392, 395, 396, 397, 398, 399, 400, 401, 403, 405, 407, 408, 409, 410, 411, 413, 414, 415, 417, 419, 420, 421, 422, 424, 425, 426, 428, 430, 431, 432, 435, 441, 442, 444, 445, 446, 447, 449, 450, 452, 454, 455, 456, 459, 460, 461, 462, 464, 465, 466, 469, 470, 471, 473, 476, 480, 482, 483, 487, 490, 491, 493, 494, 495, 497, 498, 499, 500, 501, 503, 505, 507, 509, 510, 512, 514, 518, 519, 520, 522, 523, 528, 530, 534, 535, 536, 537, 538, 540, 545, 546, 547, 548, 549, 550, 553, 554, 555, 558, 559, 560, 561, 562, 565, 567, 568, 569, 570, 572, 573, 575, 586, 590, 591, 592, 594, 595, 597, 599, 601, 602, 603, 604, 606, 607, 611, 612, 613, 614, 617, 622, 625, 629, 631, 635, 639, 640, 649, 650, 651, 653, 654, 655, 670, 672, 673, 674, 678, 685, 687, 689, 690, 693, 694, 697, 701, 704, 706, 708, 711, 713, 716, 717, 724, 731, 732, 733, 735, 736, 740, 742, 746, 747, 749, 750, 751, 753, 754, 756, 757, 758, 761, 768, 774, 779, 780, 785, 786, 790, 792, 797, 801, 804, 812, 813, 815, 816, 818, 827, 832, 835, 838, 842, 843, 845, 849, 850, 853, 860, 864, 873, 883, 890, 898, 899, 913, 915, 921, 925, 929, 932, 935, 936, 940, 946, 951, 961, 968, 974, 981, 984, 1582, 1607, 1622, 1725

Everything is OK!

#### MntFishProducts

In [188]:
dc.look_quality_of_the_column_data(df, 'MntFishProducts')

Column name: MntFishProducts
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 89, 90, 91, 93, 94, 95, 97, 98, 99, 101, 102, 103, 104, 106, 108, 110, 111, 112, 114, 115, 116, 119, 120, 121, 123, 124, 125, 127, 128, 129, 130, 132, 133, 134, 136, 137, 138, 140, 141, 142, 145, 146, 147, 149, 150, 151, 153, 156, 158, 159, 160, 162, 164, 166, 167, 168, 169, 171, 172, 173, 175, 177, 179, 180, 181, 182, 184, 185, 186, 188, 189, 192, 193, 194, 197, 198, 199, 201, 202, 205, 207, 208, 210, 212, 216, 218, 219, 220, 223, 224, 225, 227, 229, 231, 232, 234, 237, 240, 242, 246, 247, 250, 253, 254, 258, 259

Everything is OK!

#### MntSweetProducts

In [189]:
dc.look_quality_of_the_column_data(df, 'MntSweetProducts')

Column name: MntSweetProducts
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 118, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 132, 133, 134, 136, 137, 138, 139, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 156, 157, 160, 161, 162, 163, 165, 166, 167, 169, 172, 173, 174, 175, 176, 178, 179, 182, 185, 187, 188, 189, 191, 192, 194, 195, 196, 197, 198, 262, 263

Everything is OK!

#### MntGoldProds

In [190]:
dc.look_quality_of_the_column_data(df, 'MntGoldProds')

Column name: MntGoldProds
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 106, 107, 108, 109, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 157, 158, 159, 160, 161, 162, 163, 165, 166, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 180, 181, 182, 183, 185, 187, 190, 191, 192, 195, 196, 197, 198, 199, 200, 203, 204, 205, 207, 210, 215, 216, 218, 219, 223, 224, 227, 229, 231, 232, 233, 241, 242, 245, 246, 247, 248, 249, 262, 291, 321, 362

Everything is OK!

#### NumDealsPurchases

In [191]:
dc.look_quality_of_the_column_data(df, 'NumDealsPurchases')

Column name: NumDealsPurchases
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15

Everything is OK!

#### NumWebPurchases

In [192]:
dc.look_quality_of_the_column_data(df, 'NumWebPurchases')

Column name: NumWebPurchases
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 23, 25, 27

Everything is OK!

#### NumCatalogPurchases

In [193]:
dc.look_quality_of_the_column_data(df, 'NumCatalogPurchases')

Column name: NumCatalogPurchases
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 28

Everything is OK!

#### NumStorePurchases

In [194]:
dc.look_quality_of_the_column_data(df, 'NumStorePurchases')

Column name: NumStorePurchases
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13

Everything is OK!

#### NumWebVisitsMonth

In [195]:
dc.look_quality_of_the_column_data(df, 'NumWebVisitsMonth')

Column name: NumWebVisitsMonth
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 17, 19, 20

Everything is OK!

#### AcceptedCmp3

In [196]:
dc.look_quality_of_the_column_data(df, 'AcceptedCmp3')

Column name: AcceptedCmp3
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

Everything is OK!

#### AcceptedCmp4

In [197]:
dc.look_quality_of_the_column_data(df, 'AcceptedCmp4')

Column name: AcceptedCmp4
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

Everything is OK!

#### AcceptedCmp5

In [198]:
dc.look_quality_of_the_column_data(df, 'AcceptedCmp5')

Column name: AcceptedCmp5
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

Everything is OK!

#### AcceptedCmp1

In [199]:
dc.look_quality_of_the_column_data(df, 'AcceptedCmp1')

Column name: AcceptedCmp1
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

Everything is OK!

#### AcceptedCmp2

In [200]:
dc.look_quality_of_the_column_data(df, 'AcceptedCmp2')

Column name: AcceptedCmp2
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

Everything is OK!

#### Complain

In [201]:
dc.look_quality_of_the_column_data(df, 'Complain')

Column name: Complain
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

The correct format is bool.  In the rest, everything is OK!

#### Z_CostContact

In [202]:
dc.look_quality_of_the_column_data(df, 'Z_CostContact')

Column name: Z_CostContact
Data type: int64
Null data: 0
Duplicate data: True
Values:
3

Apparently, the cost of contacting a costumer is $ 3.

In [203]:
df['Z_CostContact'].sum()

6720

The sum of this column matches what was reported in the pdf.

#### Education

In [204]:
dc.look_quality_of_the_column_data(df, 'Response')

Column name: Response
Data type: int64
Null data: 0
Duplicate data: True
Values:
0, 1

Everything is OK!

#### Z_Revenue

In [205]:
dc.look_quality_of_the_column_data(df, 'Z_Revenue')

Column name: Z_Revenue
Data type: int64
Null data: 0
Duplicate data: True
Values:
11

This column containing only value: 11. this is not possible because not all customers who bought accepted the campaign.

In [206]:
df['Z_Revenue'].sum()

24640

This above value not matches what was reported in the pdf. We need create a new column.

In [207]:
df = (df.assign(Z_Revenue_correct = df.apply(lambda x: x['Z_Revenue'] if x['Response'] == 1 else 0, axis=1))
     )
df['Z_Revenue_correct'].sum()

3674

Now, this above value matches what was reported in the pdf.

### The necessary adjustments have been made. Now let's look at a simple distribution of data for the quantitative columns.

In [208]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_Birth,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
Income,2216.0,52247.251354,25173.076661,1730.0,35303.00,51381.5,68522.00,666666.0
Kidhome,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
Teenhome,2240.0,0.506250,0.544538,0.0,0.00,0.0,1.00,2.0
Recency,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
MntWines,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
MntMeatProducts,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0
MntFishProducts,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
MntSweetProducts,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
MntGoldProds,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
NumDealsPurchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
NumWebPurchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
NumCatalogPurchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
NumStorePurchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
NumWebVisitsMonth,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
AcceptedCmp3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
Complain,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
Z_CostContact,2240.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
Z_Revenue,2240.0,11.000000,0.000000,11.0,11.00,11.0,11.00,11.0
Response,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0
Z_Revenue_correct,2240.0,1.640179,3.919009,0.0,0.00,0.0,0.00,11.0

In [209]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Z_Revenue_correct
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,0,0,0,0,0,0,3,11,1,11
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,0,0,0,0,0,0,3,11,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,0,0,0,0,0,0,3,11,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,0,0,0,0,0,0,3,11,0,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,0,0,0,0,0,0,3,11,0,0

After the check the data quality of this dataframe, We'll do the explotory data analysis (EDA) in the next notebook.

### 3. Conclusion

- We found two columns that were not in the pdf: 'Z_Revenue','Response'. 
- We found two customer with the marital status strange: "Absurd". We guess that this status is wrong.
- The data of the Z_Revenue was wrong. All the rows containing the same valor: 11. We know that the sucess of the pilot campaign was 15%, not 100%.  So, we create a new column.
- We found three customer with a strange birth year (over one hundred and twenty years old).
- We create a new column containg the age of each customer.
- We change the type of some columns.

In [210]:
df.to_csv(DATA / 'ml_project1_data_cleaned.csv', index=False)