### 1. Purpose of this notebook

The purpose of this notebook is to do an inital exploratory of the data. Specifically read the data and do a simple cleaning.

- checar se há dados nulos
- checar se há dados sujos
- checar se há dados duplicados
- checar se o tipo de dadose está correto

### 2. Read data

##### 2.1 Import Python packages

In [2]:
import pandas as pd

import src.data_clean as dc
from src.paths import *

##### 2.2 Sample data

In [10]:
df = pd.read_csv(DATA / 'ml_project1_data.csv')
df.sample(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
966,10489,1973,Graduation,Married,92955.0,0,0,2013-08-19,35,693,...,2,0,0,1,1,0,0,3,11,1
375,10703,1975,Master,Single,46098.0,1,1,2012-08-18,86,57,...,8,0,0,0,0,0,0,3,11,0
1146,749,1981,Graduation,Together,42162.0,1,0,2013-11-19,31,46,...,6,1,0,0,0,0,0,3,11,1
575,2574,1977,PhD,Married,61996.0,0,1,2013-01-31,27,1050,...,5,0,1,0,1,1,0,3,11,1
1123,5025,1979,Graduation,Single,48526.0,1,0,2013-12-24,32,23,...,3,0,0,0,0,0,0,3,11,0

There are some

##### 2.3 Dataframe data

In [13]:
#Total rows and columns
df.shape

(2240, 29)

In [14]:
#Column names
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [31]:
#Type of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
ID                     2240 non-null int64
Year_Birth             2240 non-null int64
Education              2240 non-null object
Marital_Status         2240 non-null object
Income                 2216 non-null float64
Kidhome                2240 non-null int64
Teenhome               2240 non-null int64
Dt_Customer            2240 non-null object
Recency                2240 non-null int64
MntWines               2240 non-null int64
MntFruits              2240 non-null int64
MntMeatProducts        2240 non-null int64
MntFishProducts        2240 non-null int64
MntSweetProducts       2240 non-null int64
MntGoldProds           2240 non-null int64
NumDealsPurchases      2240 non-null int64
NumWebPurchases        2240 non-null int64
NumCatalogPurchases    2240 non-null int64
NumStorePurchases      2240 non-null int64
NumWebVisitsMonth      2240 non-null int64
AcceptedCmp3           2240 non-null int64
AcceptedCmp4           2240 non-null int64
AcceptedCmp5           2240 non-null int64
AcceptedCmp1           2240 non-null int64
AcceptedCmp2           2240 non-null int64
Complain               2240 non-null int64
Z_CostContact          2240 non-null int64
Z_Revenue              2240 non-null int64
Response               2240 non-null int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

There is a column with some null values (Income). Also, there is a column with date, but the its data format is object.

In [75]:
df = (df.assign(
         Dt_Customer = pd.to_datetime(df['Dt_Customer']))
)

In [85]:
df[['AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1','AcceptedCmp2','Response']].mean().multiply(100)

AcceptedCmp3     7.276786
AcceptedCmp4     7.455357
AcceptedCmp5     7.276786
AcceptedCmp1     6.428571
AcceptedCmp2     1.339286
Response        14.910714
dtype: float64

In [101]:
df['Kidhome'].groupby(df['Kidhome']).count()

Kidhome
0    1293
1     899
2      48
Name: Kidhome, dtype: int64

In [116]:
df['ID'].nunique()

2240

Há duas colunas não informadas no material do teste: 'Z_Revenue','Response'. Elas contém, respectivamente, a receita de quem adquiriu o produto e o custo gerado na campanha.

- A receita está errada, pois todos os clientes tem receita, mas nem todos compraram.