

Is this sample representative?

In [7]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier,export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics
import seaborn as sns

from src.paths import DATA

In [210]:
df = pd.read_csv(DATA / 'ml_project1_data_pre_processed.csv')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,Z_CostContact,Response,Z_Revenue_correct,Age,MntTotal,NumTotalPurchases,AcceptedTotalFirstFiveCmps,AcceptedTotalFirstFiveCmpsMorePilot,TotalYearAfterRegistration,TotalChildren
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,3,True,11,63,1529,22,0,1,8,0
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,3,False,0,66,21,4,0,0,6,2
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,3,False,0,55,734,20,0,0,7,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,3,False,0,36,48,6,0,0,6,1
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,3,False,0,39,407,14,0,0,6,1

In [211]:
data = df[[ 'Income', 'Recency', 'Response']]

data = data.query("Income < 118000")
#data = data.query("Age < 121")
data = data[data.Income.notnull()]

In [212]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('Response',axis=1), data['Response'],test_size=0.3)

In [213]:
X_train.shape, X_test.shape

((1545, 2), (663, 2))

In [214]:
y_train.shape,y_test.shape

((1545,), (663,))

In [215]:
clf = DecisionTreeClassifier(class_weight='balanced')

In [216]:
clf = clf.fit(X_train,y_train)

In [217]:
clf.feature_importances_

array([0.64439661, 0.35560339])

In [218]:
for feature, importancies in zip(data.drop('Response',axis=1), clf.feature_importances_):
    print(f"{feature}:{importancies:.3f}")

Income:0.644
Recency:0.356

In [219]:
resultado = clf.predict(X_test)
resultado

array([False, False, False,  True,  True, False, False,  True, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False,  True, False,
       False, False, False,  True, False,  True, False, False,  True,
        True, False,  True, False, False, False, False,  True,  True,
       False, False, False, False, False, False,  True, False, False,
        True, False,  True, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False,  True, False,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False, False, False, False,  True, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False,  True, False,  True,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False,  True, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False,  True, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False, False,  True,
       False,  True, False, False,  True, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False,  True, False, False, False, False, False,
       False, False, False,  True,  True, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False,  True, False, False, False, False,  True, False,
        True,  True,  True, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False,  True, False, False, False, False, False, False,  True,
        True, False,  True, False, False, False, False, False, False,
        True, False, False, False, False,  True,  True, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False,  True, False, False, False,
       False, False, False,  True, False, False, False,  True, False,
        True,  True, False, False,  True, False, False, False, False,
       False, False, False, False,  True, False, False,  True, False,
       False, False, False, False,  True, False,  True,  True, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False,  True,
        True, False,  True, False,  True, False, False, False, False,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False,  True, False,
       False, False, False, False,  True, False,  True, False, False,
        True,  True,  True,  True, False, False, False, False, False,
       False,  True, False, False, False,  True, False, False, False,
       False, False, False, False, False, False,  True, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False])

In [220]:
print(metrics.classification_report(y_test,resultado))

              precision    recall  f1-score   support

       False       0.88      0.87      0.88       556
        True       0.38      0.40      0.39       107

    accuracy                           0.80       663
   macro avg       0.63      0.64      0.63       663
weighted avg       0.80      0.80      0.80       663