### 1. Purpose of this notebook

The purpose of this notebook is to explore the products' data (MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts) looking for insigths, discoveries and knowledge.

#### What's the question we want to answer with this notebook?

**Who are our customers or who are our principal customers (majority)?**

> Based on the answers we get, we can draw a gereal profile our customers:
-

### 2. Read data

#### 2.1 Import Python packages

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import numpy as np

import src.data_visualization as dv
import src.eda as eda
from src.paths import DATA

%matplotlib inline
plt.style.use('bmh')

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
dtypes = {'ID': str}
columns = ['ID', 'Education', 'Marital_Status', 'Income', 'Kidhome','Teenhome', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth','Complain', 'Age', 'MntTotal', 'NumTotalPurchases',
       'AcceptedTotalFirstFiveCmps', 'AcceptedTotalFirstFiveCmpsMorePilot', 'TotalYearAfterRegistration', 'TotalChildren']

df = pd.read_csv(DATA / 'ml_project1_data_pre_processed.csv', dtype=dtypes, usecols=columns)

#### 2.2 Sample data

In [6]:
df.sample(5)

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,NumStorePurchases,NumWebVisitsMonth,Complain,Age,MntTotal,NumTotalPurchases,AcceptedTotalFirstFiveCmps,AcceptedTotalFirstFiveCmpsMorePilot,TotalYearAfterRegistration,TotalChildren
1113,3885,PhD,Married,33569.0,1,0,10,16,2,18,...,2,8,False,37,39,4,1,2,7,1
2171,4377,Graduation,Married,52914.0,0,1,32,254,10,44,...,3,7,False,49,348,13,1,1,7,1
1624,3276,2n Cycle,Together,36301.0,1,0,53,11,12,35,...,3,7,False,44,66,6,0,0,7,1
545,8541,2n Cycle,Married,24683.0,1,0,98,8,4,10,...,4,5,False,30,35,6,0,0,6,1
321,520,Graduation,Married,34421.0,1,0,81,3,3,7,...,2,7,False,46,21,3,0,0,7,1

### 3. Marketing penetration (products)

In [9]:
df[['Kidhome','Teenhome', 'TotalChildren', 'MntWines', 'MntFruits','MntMeatProducts', 'MntFishProducts', 'MntSweetProducts']].corr()

,Kidhome,Teenhome,TotalChildren,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts
Kidhome,1.000000,-0.037935,0.689351,-0.498260,-0.373671,-0.438576,-0.388956,-0.371831
Teenhome,-0.037935,1.000000,0.697755,0.003058,-0.178247,-0.263128,-0.205965,-0.164021
TotalChildren,0.689351,0.697755,1.000000,-0.354962,-0.397087,-0.505149,-0.428138,-0.385455
MntWines,-0.498260,0.003058,-0.354962,1.000000,0.388708,0.561860,0.398705,0.385609
MntFruits,-0.373671,-0.178247,-0.397087,0.388708,1.000000,0.542521,0.594331,0.566676
MntMeatProducts,-0.438576,-0.263128,-0.505149,0.561860,0.542521,1.000000,0.567786,0.523218
MntFishProducts,-0.388956,-0.205965,-0.428138,0.398705,0.594331,0.567786,1.000000,0.579352
MntSweetProducts,-0.371831,-0.164021,-0.385455,0.385609,0.566676,0.523218,0.579352,1.000000

In [16]:
df_children = df.query("TotalChildren > 0")
df_not_childre = df.query("TotalChildren == 0")

In [20]:
df_children['MntSweetProducts'].sum(), df_children['MntSweetProducts'].mean(), df_children['MntSweetProducts'].count()

(26767, 16.729375, 1600)

In [19]:
df_not_childre['MntSweetProducts'].sum(), df_not_childre['MntSweetProducts'].mean(),  df_not_childre['MntSweetProducts'].count()

(33838, 53.4565560821485, 633)

In [21]:
df_children['MntTotal'].sum(), df_children['MntTotal'].mean(), df_children['MntTotal'].count()

(593647, 371.029375, 1600)

In [22]:
df_not_childre['MntTotal'].sum(), df_not_childre['MntTotal'].mean(), df_not_childre['MntTotal'].count()

(664520, 1049.7946287519746, 633)

Other analysis:

- Marketing penetration by Income, Age, Total children etc.